body {
  font-family: "Source Sans Pro", sans-serif;
}

.text-tiny {
  font-size: 1.3rem;
}
.photo {
  width: 90%;
  height: auto;
}
.cag {
  text-decoration: none;
  font-size: 2rem;
}
button {
  border-radius: 5px;
  border: 1px solid #1f456e;
}